.nui-wrapper {
  text-align: center;
  height: 100%;
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.char-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-box {
  min-width: 200px;
  background-color: #232323;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  padding: 5px;
}

.char-button {
  border: none;
  background-color: #28d899;
  padding: 15px 30px;
  border-radius: 3px;
}
